@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefefe;
  --foreground: #0a0a0a;

  /* Default colors */
  --color-default-white: #fefefe;
  --color-default-black: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fefefe;

    /* Default colors (same in dark mode) */
    --color-default-white: #fefefe;
    --color-default-black: #1a1a1a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
